[Unit]
Description=Dustin Reed Info
After=network.target

[Service]
User=ec2-user
WorkingDirectory=/tmp/dr-info
ExecStart=/usr/local/bin/gunicorn -b 0.0.0.0:8000 -w 4 app:create_app()
Restart=always

[Install]
WantedBy=multi-user.target