{% extends "base.html" %}
{% block title %}
{{ title }} - Dustin Reed Info
{% endblock %}
{% block content %}
<h1>
    About my Website:
</h1>
<p>
    This website was developed in Python using the Flask API.  I am currently thinking about hosting it on AWS ECS, but I have not
    decided yet as the website is still in development.
    <br>
    Feel Free to check out my projects located above.
</p>
<!-- 
<h1>
    Contact Information:
</h1>
<p>
    Email: <a href="mailto:dustin@dustinreedinfo">dustin@dustinreed.info</a>
</p> -->
<!-- <br> -->
<!-- <p>
    Linkedin: <a href="https://www.linkedin.com/in/dustinreed/">Dustin</a>
</p> -->
{% endblock %}