{% extends "base.html" %}
{% block title %}
{{ title }} - Dustin Reed Info
{% endblock %}
{% block content %}
<h1>
    About Me:
</h1>
<p>
    My name is Dustin Reed and I am a certified AWS Solutions Architect and Developer. I have been in enterprise IT since 2010
    and I have had a lifelong passion in computing.  
    
    
    
    In fact, one of my first memories is typing my name on a Commodore 64.  When I 
    was about 8 years old I wrote my first application in QBasic to brute force a password that my Dad put on a game that I had liked at the time.
    In high school I started developing games on my TI-83 calculator and then took a computer programming class and learned
    Turbo Pascal and C++.  Eventually I started a career in IT Operations.  I leveraged my programming knowledge to create shell scripts
    to automate my day to day tasks.  As my programming skills increased, I decided to learn PowerShell as it is integrated with most Windows Services.
    I am now focusing on Python and boto3 which is a SDK for managing AWS services.
    I am utilizing DevOps methodologies to define my cloud infrastructure as code and track any changes with version control and then automate deploy my
    code to the cloud platforms with my CI/CD Pipelines.  This allows me to architect infrastructure that is scalable, highly available, secure,
    repeatable, and consistent.  This eases the burden on releasing software deployments allowing applications to be decoupled
    into microservices and then distributed to specific resources. 
</p>
{% endblock %}