{% extends "base.html" %}
{% block title %}
{{ title }} - Dustin Reed Info
{% endblock %}
{% block content %}
<!-- <h1>
    Projects:
</h1> -->
<h3>
    <a href="https://github.com/dustinreed-info/dr-info-website-flask">Dustin Reed - Info</a>
</h3>
<p>
    The source code for the website you are looking at right now.  Built in Python using Flask and Jinja2.
</p>
<h3>
    <a href="https://github.com/dustinreed-info/aws-python-tools">Web-Sync</a>
</h3>
<p>
    Web-Sync is a program that wil sync a local directory to an s3 bucket and can configure Route 53 DNS records and Cloudfront to create and distribute secure static website hosted on specified s3 bucket.
</p>
<h3>
    <a href="https://github.com/dustinreed-info/docker-compose">Docker Compose</a>
</h3>
<p>
    Docker Compose file used to define my home automation infrastructure as code.
</p>
<h3>
    <a href="https://github.com/dustinreed-info/Ansible">Ansible</a>
</h3>
<p>
    Ansible playbooks used to stand up my Docker servers.
</p>
<h3>
    <a href="https://github.com/dustinreed-info/AppDaemon-Scripts">AppDaemon Scripts</a>
</h3>
<p>
    Python script that includes a function to change lights color temperature and brightness based upon time of day and an adjustable fade light in function. 
</p>
{% endblock %}