{% extends "base.html" %}
{% block title %}
{{ title }} - Dustin Reed Info
{% endblock %}
{% block content %}
<h1>
    About my Website:
</h1>
<p>
    My website was developed using Python and the Flask web framework. 
    I have implemented a CI/CD pipeline that automatically deploys the 
    latest version of my website by monitoring changes to my GitHub repository. 
    The deployment is handled by Elastic Beanstalk, which provides a rolling update 
    with an additional batch to ensure high availability and zero downtime. 
    To further improve availability, I have set up EC2 instances across multiple 
    availability zones and placed them behind an Application Load Balancer. 
    The scaling policy is set up to adjust the number of instances based on 
    the current resource demand to ensure efficient resource utilization.
    <br> <br>
    Please feel free to explore my projects located above and 
    don't hesitate to reach out to me for any feedback or collaboration opportunities.
</p>
<!-- 
<h1>
    Contact Information:
</h1>
<p>
    Email: <a href="mailto:dustin@dustinreedinfo">dustin@dustinreed.info</a>
</p> -->
<!-- <br> -->
<!-- <p>
    Linkedin: <a href="https://www.linkedin.com/in/dustinreed/">Dustin</a>
</p> -->
{% endblock %}