{% extends "base.html" %}
{% block title %}
{{ title }} - Dustin Reed Info
{% endblock %}
{% block content %}
<h2>
        <a href="https://www.youracclaim.com/badges/8077ec9b-b0f1-4558-92a8-dcf2293795d4/public_url">
            <img border="0" src="static/aws-cda-badge.png" width="100" height="100"></a>
        <a href="https://www.youracclaim.com/badges/8550f9ae-88f0-48fa-bc71-a4facf1a1e9a/public_url">
            <img border="0" src="static/aws-csa-badge.png" width="100" height="100"></a>
</h2>
{% endblock %}
    
