{% extends "base.html" %}
{% block title %}
{{ title }} - Dustin Reed Info
{% endblock %}
{% block content %}
<h1>
    About Me:
</h1>
<p>
    I have had a lifelong passion in computing and I have been in enterprise IT since 2010.  When I was around 8 years old, 
    I created my first application in QBasic to brute force a password that my Dad put on a game that I had liked at the time.
    In high school I started developing text based games on my TI-83 calculator and learned Turbo Pascal and C++.  Eventually I started a career in IT Operations.
    I leveraged my programming knowledge to create batch scripts to automate my day to day tasks.  As my programming skills increased, I decided to learn PowerShell
    as it is object oriented and integrated with most Windows Services.  Lately I have been focusing on Python as it is OS agnostic and integrates well with cloud platforms.
    Check out my Projects located above for some examples.
    <br><br>
    I am utilizing DevOps toolchains and methodologies to define my infrastructure as code and track any changes with version control and then automatically deploy my applications
    to cloud platforms with CI/CD Pipelines.  This allows me to architect infrastructure for fault tolerant, scalable, and distributed applications. 
    Which can reduce risk and complexity for software deployments allowing businesses to be more agile in reacting to changing market conditions.
</p>
{% endblock %}